@charset "utf-8";
.INICIOE {
    background-color: #C71114;
    margin-right: 0px;
    border-radius: 9px;
    text-align: center;
    font-family: abril-fatface;
    font-style: normal;
    font-weight: 400;
    padding-right: 149px;
    padding-left: 617px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #3AE718;
}
.INICIOE:hover {
    background-color: #309DEC;
    color: #00FF93;
    margin-right: 1px;
    padding-right: 15px;
}
.inicio {
}
